//************************* event global styles ****************************//
@import "../../styles/colors";
.event {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "date info info venu"
    "date btn btn btn";
  padding: 1em 0;
  border-bottom: 1px solid $border-color;

  .event_info {
    grid-area: info;
  }

  .event_venu {
    grid-area: venu;
  }

  .event_detail_btn {
    grid-area: btn;
  }

  .event_info,
  .event_venu {
    padding-right: 1.2em;

    .event_name,
    .event_time {
      width: 100%;
      border-bottom: 1px solid $border-color;
      padding-bottom: 0.5em;

      h3 {
        font-weight: 550;
      }
    }

    .event_desc,
    .event_loc {
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0.7em 0;
      font-size: 0.9em;
      color: $desc-color;

      p {
        font-weight: 300;
        line-height: 1.4em;
      }
    }
  }

  .event_venu {
    .event_time {
      width: fit-content;
      margin-left: auto;
    }
    .event_loc {
      text-align: right;
    }
  }

  .event_date {
    grid-area: date;
    h3 {
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      width: 20%;
      padding: 0.3em 0.7em;
      text-transform: uppercase;
    }
  }
}

button[type="button"] {
  padding: 0.4em 0;
  background-color: unset;
  color: $primary-color;
  border: 0;
  font-size: 0.9em;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

//************************* event responsive query media styles ****************************//

@media (max-width: 443px) {
  body {
    font-size: 90%;
  }

  .event {
    display: block;
    //   grid-template-columns: 1fr;
    //   grid-template-rows: auto auto auto auto;
    //   grid-template-areas:
    //     "date"
    //     "info"
    //     "venu"
    //     "btn";

    .event_date {
      padding: 0 1em 0 0;

      h3 {
        padding: 0;
        text-align: start;
        width: 100%;

        span {
          display: none;
        }
      }
    }

    .event_name {
      padding: 0.5em 0;
    }

    .event_venu {
      .event_time {
        margin-left: inherit;
        padding-top: 0.1em;
      }
      .event_loc {
        text-align: inherit;
      }
    }
  }
}

@media (max-width: 375px) {
  body {
    font-size: 88%;
  }
  .event {
    & > * {
      padding-left: 0.6em !important;
      padding-right: 1em !important;
    }
    .event_desc {
      display: none !important;
    }
  }
}
