//************************* event global styles ****************************//
@import "../../styles/colors";

.wrapper {
  width: 100%;
  background-color: $background-dark;
  color: $app-color;

  .container {
    width: 70%;
    margin: auto;
    padding: 1em;

    .event_title {
      width: fit-content;
      margin: auto;
      background-color: $title-background;
      color: $title-color;

      h2 {
        padding: 0.3em 0.6em;
        letter-spacing: 0.3em;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 0.8em;
      }
    }

    .event_container {
      padding: 1em 0;

      & > .row {
        width: 100%;
      }
    }

    .floating_btn {
      background-color: $primary-color;
      padding: 0.9em 0.8em 0.5em;
      border-radius: 50%;
      width: fit-content;
      position: fixed;
      right: 1em;
      bottom: 1em;

      svg {
        width: 1.3em;
      }

      display: none;
    }
  }
}

//************************* event responsive query media styles ****************************//

@media (min-width: 2560px) {
  body {
    font-size: 160%;
  }

  .wrapper .container {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .wrapper .container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 90%;
  }
}

@media (max-width: 567px) {
  body {
    font-size: 75%;
  }
  .wrapper .container {
    width: 90%;
  }
}

@media (max-width: 475px) {
  body {
    font-size: 70%;
  }
}

@media (max-width: 443px) {
  body {
    font-size: 90%;
  }
  .wrapper {
    .container {
      width: 90%;

      .floating_btn {
        display: block;
      }
    }
  }
}
